## Execute query

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Snowflake_Logo.svg/1920px-Snowflake_Logo.svg.png" alt="drawing" width="150" align='left'/>

### 1. Install Linux package (dependency)

In [ ]:
#sudo apt-get install -y libssl-dev libffi-dev

### 2. Install pip package

In [ ]:
# !pip install --upgrade snowflake-connector-python

### 3. Execute query in Snowflake

In [1]:
from snowflakeconnector import SnowflakeConnector
#Initialize SnowflakeConnector
instance = SnowflakeConnector('credentials.json')

Establishing connection to Snowflake
Connection established

In [3]:
#Fetch records from Snowflake database
instance.execute_query("< Your insert query >",query_type="pull")

Executing Query
Dataframe:
                  0                                  1
0  ABC corporation            12th avenue rd,New york
1  XYZ corporation  16th street,12th cross,New jersey

                 0                                  1
0  ABC corporation            12th avenue rd,New york
1  XYZ corporation  16th street,12th cross,New jersey

#### Select Query example:
"select company_name,company_address from company"

In [ ]:
#Insert records into snowflake database
instance.execute_query("< Your insert query >",query_type="push")

#### Insert Query example:
"insert into company(company_name,company_address) values('ABCD corporation','12th street')"

In [ ]:
#Close database connection (Mandatory)
instance.close_connection()